form {
    text-align: center;
    horiz-align: center;
}

.search, .nbr, .submit {
    display: list-item;
    width: 100%;
    border-radius: 10px;
}
input {
    margin-top: 1%;
    width: 45%;
    padding: 10px;
    text-align: center;
}
.divForm {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.submit:hover{
    filter: invert(1);
}